.back_colour {
    display: flex;
    flex-direction: column;
    background-color: #3a4981;
    align-items: center;
}

.profile_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pro_1 {
    display: flex;
    flex-direction: row;
}

.pro_2 {
    display: flex;
    flex-direction: row;

}
.profile_pic {
    height: 300px;
    margin: 20px;
}

.nameStyle {
    color: white;
}
