.first_title {
    color: white;
    display: flex;
    justify-content: center;
}

.first_back {
    background-color: #3a4981;
}

.second_back {
    background-color: white;
}

.second_title {
    color: #3a4981;
    display: flex;
    justify-content: center;
}

.content_centre {
    display: flex;
    justify-content: center;
}

.UAC_button {
    display: flex;
    justify-content: center;
}
