.t1 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 250%;
}

.description {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 120%;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: #3a4981;
    justify-content: space-around;
}
